[submodule "mpv/dot-config/mpv/scripts-src/videoclip"]
	path = mpv/dot-config/mpv/scripts-src/videoclip
	url = https://github.com/Lemmmy/videoclip.git
[submodule "mpv/dot-config/mpv/scripts-src/thumbfast"]
	path = mpv/dot-config/mpv/scripts-src/thumbfast
	url = https://github.com/po5/thumbfast
