include "keybinds.kdl"
include "window-rules.kdl"

input {
    keyboard {
        xkb { options "caps:escape"; }
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }
}

output "Samsung Display Corp. 0xC34F Unknown" {
    mode "3840x2160@60.000"
    scale 2.25
}

layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4

        active-color "#e88f66"

        inactive-color "#505050"
    }

    border {
        off
    }

    tab-indicator {
        width 5
    }
}

prefer-no-csd

spawn-at-startup "copyq"
spawn-sh-at-startup "~/.config/waybar/waybar_niri_overview_toggle.sh"


environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
}

cursor {
    hide-after-inactive-ms 5000
    xcursor-theme "breeze_cursors"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
