include "binds.kdl"

input {
    keyboard {
        xkb { options "caps:escape"; }
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }
}

output "Samsung Display Corp. 0xC34F Unknown" {
    mode "3840x2160@60.000"
    scale 2.25
}

layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4

        active-color "#e88f66"

        inactive-color "#505050"
    }

    border {
        off
    }

    tab-indicator {
        width 5
        // gap 5
    }
}

prefer-no-csd

spawn-at-startup "/usr/libexec/lxqt-policykit-agent"
spawn-at-startup "copyq"
// spawn-sh-at-startup "sleep 5 && keepassxc --minimized"

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
}

cursor {
    hide-after-inactive-ms 5000
    xcursor-theme "breeze_cursors"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    match app-id="lxqt-policykit-agent"
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="org.fooyin.fooyin" title="Search Playlist"
    open-floating true
}

window-rule {
    match app-id="org.keepassxc.KeePassXC" title="Unlock Database - KeePassXC"
    match app-id="org.keepassxc.KeePassXC" title="KeePassXC - Passkey credentials"
    open-focused true
    open-floating true
}

window-rule {
    match app-id="com.github.hluk.copyq"
    open-floating true
}

window-rule {
    match app-id="org.keepassxc.KeePassXC"
    block-out-from "screen-capture"
}